@model Shamreen_S_301058534.Models.Club

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddClub";
}

<div class="text-center text-dark ">
    <h4>ADD CLUB</h4>
</div>
<form asp-controller="Club" asp-action="Addclub" method="post">

    @Html.Partial("AddClubPartialView")


    <div class="text-center ">
        <button type="submit" class="btn btn-success btn-block">Save</button>

        <button type="submit" asp-controller="Home" asp-action="Index" class="btn btn-danger btn-block">Cancel</button>
    </div>
</form>
