@model Shamreen_S_301058534.Models.Club

<div >
    <div class="form-group row text-center">
        <label asp-for="Name" class="col-sm-2 col-form-label">
            Club Name:
        </label>
        <div class="col-sm-9">
            <input asp-for="Name" id="Name" class="form-control border-dark" placeholder="club name" />
        </div>

    </div>
    <div class="form-group row text-center ">
        <label asp-for="Club_Description" class="col-sm-2 col-form-label">
            Club Description:
        </label>

        <div class="col-sm-9">
            <input asp-for="Club_Description" class="form-control border-dark" id="Club_Description" placeholder="information about founder and year the club was found" />
        </div>

    </div>
    <div class="form-group row text-center ">
        <label asp-for="Club_Owner" class="col-sm-2 col-form-label">
            Club Onwer:
        </label>
        <div class="col-sm-9">
            <input asp-for="Club_Owner" id="Club_Owner" class="form-control border-dark" placeholder="club owner's Name" />

        </div>

    </div>
    <div class="form-group row text-center">
        <label asp-for="Club_Manger" class="col-sm-2 col-form-label">
            Club Manager:
        </label>
        <div class="col-sm-9">
            <input asp-for="Club_Manger" id=" Club_Manger" class="form-control  border-dark" placeholder="club manager's name" />

        </div>
    </div>
    <div class="form-group row text-center">
        <label asp-for="Club_Value" class="col-sm-2 col-form-label">

            Club Value :
        </label>
        <div class="col-sm-9">
            <input asp-for="Club_Value" id="Club_Value" class="form-control border-dark " placeholder="club's current value" />
        </div>
        

        </div>


    </div>
